@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.projects{
    padding-top: 100px;
    background-color: #fff;
}

.slider {
    position: relative;
    /* padding-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #1a1a1a;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #1a1a1a;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }


  .projects-header {
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    color: #1a1a1a;
    /* text-decoration: underline; */
}

  /* mobile mode */
  @media (max-width: 768px) { 

    .left-arrow{color: #fff;}
    .right-arrow{color: #fff;}
  }

  .showMore {
    color: #fff;
    font-size: 75px;
  }