@font-face {

    font-family: default-font;
    src: url("/public/font.woff2");
    
}

.logo {

    height: 12vmin;
    width: 12vmin;
    pointer-events: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 1%;
  
}

.menu {

    display: block;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
    font-family: default-font;

}

.link {

    color: #FFF;
    margin:  0 16px;
    font-weight: 100;
    font-size: 1em;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 5px;
    transition: color 0.2s;

}

.link:hover {

    background-color: rgb(158, 153, 153);;

}

.navBarEntry {

    float: right;
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: default-font;
    border-radius: 5px;

}

.navBar {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 32px;
    cursor: pointer;
    background-color: #1a1a1a;

}

.menuButton {

    display: block;
    position: fixed;
    z-index: 300;
    top: 15px;
    right: 70px;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: white;
    float: right;
    margin-top: 5px;

}

.buttonLine {

    display: block;
    width: 35px;
    height: 4px;
    margin-bottom: 7px;
    position: relative;
    background-color: #EEEEEE;
    border-radius: 6px;
    z-index: 10000;
    /* transform-origin: 0 0; */
    
}

.menuButton span:nth-child(2) { transition: .4s ease-in-out; }

.menuButton:click span:nth-child(2) {

    transform: translateX(-15px);
    background: white;

}

/* desktop mode */
@media (min-width: 768px) { 

    .menuButton { display: none; }
    .mobileNavBarEntry { display: none;}
    .menu { display: flex; }
    .mobileNavBar{display: none;}

}

/* mobile mode */
@media (max-width: 768px) { 

    .navBarEntry { display: none; }
    .logo { display: none; }

}

.mobileNavBar {
    
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 200;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
	background-color: #1a1a1a;
	color: #FFF;
	text-decoration: none;
	transition: 0.4s;

}

ul { padding: 0; }


.mobileNavBarEntry {

    transform: translateY(450%);
    padding: 20px;

}

li {

    list-style-type: none;
    text-decoration: none;
}

.isActive {

    opacity: 1;
    height: auto;
    pointer-events: auto;

}

.mobileMenuSection {

    display: block;
    opacity: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;

}