@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


  .project-div:hover{
    box-shadow: 0px 3px 100px rgb(0, 0, 0);
    transition: 0.3s ease-in;
    cursor: pointer;
  }

.project-div {
  border-radius: 15px;
  width: 500px;
  height: 500px;
  /* margin: 40px; */
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}


.project-div .projectImage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-div h1 {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;

}

#linkToRepo {
  margin-top: calc(100% - 500px);
}

  /* mobile mode */
  @media (max-width: 768px) { 
    .project-div {  width: 350px;}
    #linkToRepo {
      margin-left: 275px;
      margin-top: calc(100% - 367px);
    }
  }