@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.showcaseImg {
    width: 10rem;
    height: 10rem;
}

.showcaseName {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.showcaseDiv {
    border: 3px solid;
    border-color: #fff;
    margin: 10px;
    border-radius: 15px;
}

.showcaseDiv:hover {
    scale: 1.1;
    transition: ease 0.5s;
    box-shadow: 0px 3px 15px #fff;
}